[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
	branch = v1.2.11
	status = essential
[submodule "libxml2"]
	depends = zlib
	path = libxml2
	url = https://github.com/GNOME/libxml2.git
	branch = v2.9.3
	status = essential
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
	branch = OpenSSL_1_0_2-stable
	status = essential
[submodule "icu"]
	path = icu
	url = https://github.com/qzmfranklin/icu
	branch = release-59-1
	status = essential
[submodule "qt"]
	depends = icu openssl zlib sqlite
	path = qt
	url = https://github.com/qt/qt5.git
	branch = 5.7.1
	status = essential
[submodule "qtwebkit"]
	depends = qt
	path = qtwebkit
	url = ../webkit.git
	branch = qtwebkit-5.212-izzy
	status = essential
[submodule "phantomjs"]
	depends = qt qtwebkit
	path = phantomjs
	url = https://github.com/ariya/phantomjs.git
	branch = 2.1
	status = essential
